.wideInput {
    width: 90%;
}

.marginLeft {
    margin-left: 1%;
}

.tightInput {
    width: 10%;
}

.input {
    width: 90%;
}

.color0, .color1, .color2 {
    color: #d2222d;
}

.color3, .color4, .color5 {
    color: #ffbf00;
}

.color6, .color7, .color8 {
    color: #299c29;
}

.color9, .color10 {
    color: #007000;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}
