.rating0,
.rating1,
.rating2 {
    color: #d2222d;
}

.rating3,
.rating4,
.rating5 {
    color: #ffbf00;
}

.rating6,
.rating7,
.rating8 {
    color: #299c29;
}

.rating9,
.rating10 {
    color: #007000;
}

body {
    margin: 0;
}